.sidebar {
  width: 3%;
  height: 100%;
  background-color: hsla(296, 70%, 4%, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.sb-el {
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
}

.selected {
    background-color: #817764;
}
.sb-el:hover {
    background-color: #494338;
}

.sb-els {
    margin-top: 35vh;
}
.logo {
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-size: xx-large;
}